<!DOCTYPE html>
<html>
    <head>
        <!-- The tag title in head modify the name of page in the navegator -->
        {% block title%}
        <title>Abner Pena de Souza</title>
        {% endblock title%}
        

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <!-- The A tag is for hyperlinks -->
                <a href="/">Home</a>
                <a href="/aboutRocketseat">About Rocketseat</a>
                <a href="/classes">Classes</a>
                <a href="/contents">Contents</a>

            </div>

        </header>

        {% block content %}
        {% endblock content %}
       

    </body>
</html>