{% extends "layout.njk" %}

{% block title%}
    <title>Error 404 Not Found</title>
{% endblock title%}

{% block content%}
    <h1> Error 404 Not Found</h1>
    <h2>This address is inaccessible...</h2>
{% endblock content%}