body {
    background-image: url(https://image.freepik.com/vetores-gratis/diagrama-de-circuito-de-tecnologia-azul-com-luzes-de-linha-brilhante_1017-17266.jpg);
    background-position: 30% 45%;
    background-size: cover;
    
}